:root {
  // COLOR VARIABLES
  --color-primary-blue: hsl(223, 87%, 63%);

  --color-secondary-blue-light: hsl(223, 100%, 88%);
  --color-secondary-red: hsl(354, 100%, 66%);

  --color-neutral-grey: hsl(0, 0%, 59%);
  --color-neutral-blue-dark: hsl(209, 33%, 12%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 62.5%; // 10px = 1rem;
}

.container {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr);

  grid-gap: 3rem;
  justify-content: center;
}
