.header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  justify-self: center;

  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-gap: 2rem;
  justify-content: center;

  &__logo {
    margin: 0 auto;
    padding: 3rem 0 2rem 0;
  }
}
